# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.pydevproject
.idea/*.*
.idea/
.idea


#konecta2/local_settings.py
konecta2/requirements_local.txt
dbsqlite

#media
k2media/k2Usuario/profesor/avatar/
k2media/k2Usuario/alumno/avatar/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

*.*~