{% extends "home.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<div id='frontal' class="container">
    <h1>Pizarra</h1>
    <div class="row">
        <h1>Gestión Usuarios</h1>
        <a href="{% url 'k2Usuario.views.setClase'%}">Añadir Clase</a>
        <a href="{% url 'k2Usuario.views.getClases'%}">Ver Clases</a>
        <a href="">Añadir Alumnos</a>
        <a href="">Ver Alumnos</a>
    </div>
    <div class="row">
        <h1>Gestión Ejercicios</h1>
    </div>
    <div class="row">
        <a href="/logout/">Salir</a>
    </div>


</div>

{% endblock %}