{% extends "home.html" %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/pizarra/">konecta2profesor</a>
                </li>
                <li><p class="text-primary">Profesor :: {{username}} :: Conectado</p>
                </li>
                <li><a href="/pizarra/clases/"><i class="fa fa-users fa-2x"></i> Clases</a>
                </li>
                <li><a href="#"><i class="fa fa-user fa-2x"></i> Alumnos</a>
                </li>
                <li><a href="#"><i class="fa fa-briefcase fa-2x"></i> Cursos</a>
                </li>
                <li><a href="#"><i class="fa fa-book fa-2x"></i> Materias</a>
                </li>
                <li><a href="#"><i class="fa fa-list-alt fa-2x"></i> Temas</a>
                </li>
                <li><a href="#"><i class="fa fa-edit fa-2x"></i> Ejercicios</a>
                </li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-2x"></i> Cerrar sesión</a>
                </li>

            </ul>
        </div>

        {% block pagecontent %}
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                </h1>
                {% block contentheader %}
                {% endblock %}
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">

                <div class="row">
                    {% block contentinset %}{% endblock %}
                </div>

            </div>
        </div>
        {% endblock %}

    </div>

    {% block extrajs %}
    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    {% endblock %}

{% endblock %}