{% extends "pizarra_digital.html" %}
{% load bootstrap %}

{% block extracss %}
{% endblock %}

{% block content %}
        {%if e %}
        <div class="row">
                <div class="col-lg-12">

                </div>
                <!-- /.col-lg-12 -->
        </div>
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ e.titulo}}</h1>
                    <ol class="breadcrumb">
                        <li><a><i class="fa fa-briefcase fa-fw"></i> {{ e.curso }}</a></li>
                        <li><a><i class="fa fa-book fa-fw"></i> {{ e.materia }}</a></li>
                        <li><a><i class="fa fa-list-alt fa-fw"></i> {{ e.tema }}</a></li>
                        <li><a><i class="fa fa-bars fa-fw"></i> {{ e.tipo }}</a></li>
                        <li><a><i class="fa fa-eye fa-fw"></i> {{ e.dificultad }}</a></li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-offset-4">
                <div class="panel">
                    <div class="panel-body">
                        <a href="{% url 'ejerciciolist' %}" type="button" class="btn btn-warning btn-lg"><i class="fa fa-arrow-left fa-fw"></i></a>
                        <a href="{% url 'videocreate' e.id %}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-video-camera fa-fw"></i></a>
                        <a href="{% url 'videocreate' e.id %}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-music fa-fw"></i></a>
                        <a href="{% url 'imagecreate' e.id %}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-picture-o fa-fw"></i></a>
                        <a href="{% url 'textocreate' e.id %}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-font fa-fw"></i></a>
                        <a href="{% url 'escrituralibrecreate' e.id %}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-question fa-fw"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row Botonera-->
        {% if e.media.all %}
            {% for m in e.media.all %}
                {% if m.tipo == 'VIDEO' %}
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-video-camera fa-fw"></i> {{ m.fecha }}
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Opciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="{% url 'videodelete' pk=e.id pk1=m.id %}"><i class="fa fa-trash-o fa-fw"></i>Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <video id="video_1" class="video-js vjs-default-skin vjs-big-play-centered"
                                          controls preload="auto"
                                          width="640" height="264"
                                          data-setup='{"example_option":true}'>
                                            <source src="{{ MEDIA_URL}}{{ m.path | cut:'k2media/'}}" type='video/webm' />
                                            <source src="{{ MEDIA_URL}}{{ m.path | cut:'k2media/'}}" type='video/mp4' />
                                            <source src="{{ MEDIA_URL}}{{ m.path | cut:'k2media/'}}" type='video/3gp' />
                                         </video>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>

                    </div>
                    </div>
                    {% elif m.tipo == 'AUDIO' %}
                        <p>Es un audio</p>
                    {% elif m.tipo == 'IMAGE' %}
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-video-camera fa-fw"></i> {{ m.fecha }}
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Opciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="{% url 'imagedelete' pk=e.id pk1=m.id %}"><i class="fa fa-trash-o fa-fw"></i>Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="{{ MEDIA_URL}}{{ m.path | cut:'k2media/'}}" alt="Archivo corrupto">
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>

                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No hay contenido multimedia.</p>
        {% endif %}

        {% if e.pregunta.all %}
                {% for p in e.pregunta.all %}
                    {% if p.tipo == 'TEXTO' %}
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-font fa-fw"></i> Texto
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="{% url 'textodelete' pk=e.id pk1=p.id %}"><i class="fa fa-trash-o fa-fw"></i>Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <textarea name="enunciado1" maxlength="2000" id="id_enunciado1" rows="10" class=" form-control" cols="200" readonly>{{ p.enunciado }}</textarea>
                                        </div>

                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.panel-body -->
                            </div>

                        </div>
                        </div>
                    {% elif p.tipo == 'ESCRITURALIBRE'%}
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-font fa-fw"></i> Escritura libre
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="{% url 'escrituralibredelete' pk=e.id pk1=p.id %}"><i class="fa fa-trash-o fa-fw"></i>Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><b>Enunciado: </b>{{ p.enunciado }}</p>
                                            <p><b>Respuesta: </b>{{ p.respuesta }}</p>
                                            <p><b>Consejo: </b>{{ p.consejo }}</p>
                                        </div>

                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.panel-body -->
                            </div>

                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}



        {% else %}
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">No existe el ejercicio.</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        {% endif %}
{% endblock %}

{% block extrajs %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {

    });
    </script>
{% endblock %}