{% extends "pizarra.html" %}

{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}

        {%if ejercicios %}
            <table class="table table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                {% for e in ejercicios %}
                    <tr>
                            <td class="">{{ e.id }}</td>
                            <td class="">{{ e.titulo }}</td>
                            <td class=""><a href="{% url 'ejercicioupdate' e.id %}">Editar</a></td>
                            <td class=""><a href="{% url 'ejerciciodelete' e.id %}">Borrar</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'ejerciciocreate' %}"  name="ejerciciocreate" class="">Nuevo ejercicio</a>

        {% else %}
             <p>No hay ejercicios. Registrelos <a href="{% url 'ejerciciocreate' %}">aquí</a>.</p>
        {% endif%}

    {% endblock %}

{% endblock %}