{% extends "home.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<div id='frontal' class="container">
    <div class="form-signin">
        <ul>
            {% if ejercicios %}

                {% for e in ejercicios %}
                    <li> Nombre: {{ e.titulo }}</li>
                {% endfor %}
            {% else %}
                <li>No hay ejercicios. Registrelos <a href="{% url 'k2Ejercicio.views.setEjercicio' %}">aqui</a>.</li>
            {% endif%}
         </ul>
         <a href="/pizarra/"  id="volverpiz" name="volverpiz" class="btn btn-lg btn-primary" value="Volver" >Ir a la Pizarra</a>
    </div>
</div>

{% endblock %}