{% extends "pizarra.html" %}
{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}

        <div id='frontal' class="container">
            <form class="form-signin" action="{% url 'materiadelete' materia.id %}" method="post">{% csrf_token %}
                <p>Al eliminar una materia, se eliminaran todos los temas que pertenece a dicha materia.</p>
                <p>¿ Estas segur@ de eliminar "{{ materia.nombre }}" ?</p>
              <a href="{% url 'cursolist' %}" class="btn btn-warning" type="submit" >Atrás</a>
              <button class="btn btn-danger" type="submit" >Eliminar</button>
            </form>
        </div>

    {% endblock %}
{% endblock %}