{% extends "home.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<div id='frontal' class="container">
    <div class="form-signin">
        <ul>
            {% if materias %}
            {% for m in materias %}
                <li>{{ m.curso }} :: {{ m.nombre }}</li>
            {% endfor %}
            {% else %}
                <li>No hay materias. Registrelas <a href="{% url 'k2Usuario.views.setMateria' %}">aqui</a>.</li>
            {% endif%}
         </ul>
         <a href="/pizarra/"  id="volverpiz" name="volverpiz" class="btn btn-lg btn-primary btn-block" value="Volver" >Ir a la Pizarra</a>
    </div>
</div>

{% endblock %}