{% extends "pizarra_digital.html" %}
{% load bootstrap %}

{% block content %}
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Materias</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-book fa-fw"></i> Eliminar materia {{ materia.nombre }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form action="{% url 'materiadelete' materia.id %}" method="post">{% csrf_token %}
                                        <p>Al eliminar una materia, se eliminaran todos los temas que pertenece a dicha materia.</p>
                                        <p>¿ Estas segur@ de eliminar "{{ materia.nombre }}" ?</p>
                                      <a href="{% url 'cursolist' %}" class="btn btn-warning" type="submit" ><i class="fa fa-arrow-left fa-fw"></i> Atrás</a>
                                      <button class="btn btn-danger" type="submit" ><i class="fa fa-trash-o fa-fw"></i> Eliminar</button>
                                    </form>
                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}