{% extends "pizarra_digital.html" %}

{% block extracss %}
    <!-- Page-Level Plugin CSS - Tables -->
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Materias</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="row">
                            <div class="col-lg-12">
                        <a href="{% url 'materiacreate' %}" class="btn btn-success pull-right"><i class="fa fa-plus-circle fa-fw"></i> Añadir</a>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-book fa-fw"></i> Materias
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% if materias %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" id="materia-list">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Materia</th>
                                                    <th>Curso</th>
                                                    <th>Editar</th>
                                                    <th>Borrar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for m in materias %}
                                                    <tr>
                                                        <td class="">{{ forloop.counter }}</td>
                                                        <td class="">{{ m.nombre }}</td>
                                                        <td class="">{{ m.curso }}</td>
                                                        <td class=""><a href="{% url 'materiaupdate' m.id %}">Editar</a></td>
                                                        <td class=""><a href="{% url 'materiadelete' m.id %}">Borrar</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                    {% else %}
                                        <p>No hay materias. Registrelas <a href="{% url 'materiacreate' %}">aquí</a>.</p>
                                    {% endif %}
                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}

{% block extrajs %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#materia-list').dataTable({
            "oLanguage": {
			    "sUrl": "{{ STATIC_URL }}datatables/i18n/es_ES.txt"
		    }

        });
    });
    </script>
{% endblock %}