{% extends "pizarra_digital.html" %}
{% load bootstrap %}


{% block wrapper %}
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                         <img src="{{ MEDIA_URL }}konecta2/static/k2logo.png" alt="k2logo" class="img-responsive">
                         <div class="col-md-4 col-md-offset-4">
                            <a href="/" class="pull-center">Iniciar sesión</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



