{% extends "pizarra.html" %}

{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}
        {% if alumnos %}
            <table class="table table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
                {% for a in alumnos %}
                    <tr>
                            <td class="">{{ a.id }}</td>
                            <td class="">{{ a.idusuario.username }}</td>
                            <td class="">{{ a.nombre }}</td>
                            <td class="">{{ a.estado }}</td>

                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <p>No hay alumnos. Registrelos <a href="{% url 'k2Usuario.views.setAlumno' %}">aqui</a>.</p>
        {% endif%}

    {% endblock %}

{% endblock %}