{% extends "pizarra.html" %}

{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}

        {%if clases %}
            <table class="table table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Alumnos</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                {% for c in clases %}
                    <tr>
                            <td class="">{{ c.id }}</td>
                            <td class="">{{ c.nombre }}</td>
                            <td class=""><a href="{% url 'clasealumnoslist' c.id %}">Ver</a></td>
                            <td class=""><a href="{% url 'claseupdate' c.id %}">Editar</a></td>
                            <td class=""><a href="{% url 'clasedelete' c.id %}">Borrar</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'clasecreate' %}"  name="clasecreate" class="">Nueva clase</a>

        {% else %}
             <p>No hay clases. Registrelas <a href="{% url 'clasecreate' %}">aqui</a>.</p>
        {% endif%}

    {% endblock %}

{% endblock %}