{% extends "pizarra.html" %}
{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}
        <div id='frontal' class="container">
            <form class="form-signin" action="{% url 'clasecreate' %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'claselist' %}" class="btn btn-warning">Atrás</a>
                <button id="submit" name="submit" class="btn btn-primary" type="submit" value="Añadir" >Añadir</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}