{% extends "home.html" %}

{% block header %}

{% endblock %}

{% block content %}

         <ul>
            {%if clases %}
            {% for c in clases %}
                <li>Nombre: {{ c.nombre }} ( <a href="{% url 'k2Usuario.views.getAlumnosClase' c.id %}">Mostrar alumnos</a>)</li>
            {% endfor %}
            {% else %}
                <li>No hay clases. Registrelas <a href="{% url 'k2Usuario.views.setClase' %}">aqui</a>.</li>
            {% endif%}
         </ul>
         <a href="/pizarra/"  id="volverpiz" name="volverpiz" class="btn btn-lg btn-primary btn-block" value="Volver" >Ir a la Pizarra</a>

{% endblock %}