{% extends "pizarra_digital.html" %}
{% load bootstrap %}

{% block content %}
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Clases</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-users fa-fw"></i> Nueva clase
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                   <form class="form-signin" action="{% url 'clasecreate' %}" method="post">{% csrf_token %}
                                        {{ form | bootstrap }}
                                    <a href="{% url 'claselist' %}" class="btn btn-warning"><i class="fa fa-arrow-left fa-fw"></i> Atrás</a>
                                    <button id="submit" name="submit" class="btn btn-primary" type="submit" value="Añadir" ><i class="fa fa-save fa-fw"></i> Guardar</button>
                                    </form>

                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}