{% extends "pizarra_digital.html" %}
{% load bootstrap %}

{% block content %}
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Clases</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-users fa-fw"></i> Eliminar clase {{ clase.nombre }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form class="form-signin" action="{% url 'clasedelete' clase.id %}" method="post">{% csrf_token %}
                                    <p>Al eliminar una clase, se eliminaran todos los alumnos que pertenece a dicha clase.</p>
                                    <p>Si no necesita eliminar a los alumnos, cambielos a otra clase antes de eliminar la clase.</p>
                                    <p>¿ Estas segur@ de eliminar "{{ clase.nombre }}" ?</p>
                                     <a href="{% url 'claselist' %}" name="submit" class="btn btn-warning" type="submit" ><i class="fa fa-arrow-left fa-fw"></i> Atrás</a>
                                    <button name="submit" class="btn btn-danger" type="submit" ><i class="fa fa-trash-o fa-fw"></i> Eliminar</button>
                                    </form>
                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}