{% extends "pizarra.html" %}

{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}

        {%if clases %}
            <table class="table table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Alumnos</th>
                </tr>
                {% for c in clases %}
                    <tr>
                            <td class="">{{ c.id }}</td>
                            <td class="">{{ c.nombre }}</td>
                            <td class=""><a href="{% url 'alumnosclaselist' c.id %}">Ver</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
             <p>No hay clases. Registrelas <a href="">aqui</a>.</p>
        {% endif%}

    {% endblock %}

{% endblock %}