{% extends "pizarra.html" %}
{% block pagecontent %}

    {% block contentheader %}
    {% endblock %}

    {% block contentinset %}

        <div id='frontal' class="container">
            <form class="form-signin" action="{% url 'clasedelete' clase.id %}" method="post">{% csrf_token %}
              ¿ Estas segur@ de eliminar "{{ clase.nombre }}" ?
              <a href="{% url 'claselist' %}" name="submit" class="btn btn-warning" type="submit" >Atrás</a>
              <button name="submit" class="btn btn-danger" type="submit" >Eliminar</button>
            </form>
        </div>

    {% endblock %}
{% endblock %}