{% extends "home.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<div id='frontal' class="container">
    <form class="form-signin" action="{% url 'k2Usuario.views.setClase' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button id="submit" name="submit" class="btn btn-lg btn-primary btn-block" type="submit" value="Añadir" >Añadir</button>
        {% if form.errors %}
            <p class="form-error">Error</p>
        {% endif %}
        {% if error %}
            <p class="form-error">{{ error }}</p>
        {% endif %}
    </form>
</div>

{% endblock %}